@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

ol, ul, menu{
    list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

button,
input {
	border: none;
	background-color: transparent;
}

.container_all{
    max-width: 1366px;
    margin: 0 auto;
}

.container_large{
    max-width: 1260px;
    margin: 0 auto;
}

.container_standard{
    max-width: 1045px;
    margin: 0 auto;
}

section{
    padding-top: 90px;
}

/********** HEADER RULES********* */

.navbar-header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.nav_list{
    display: flex;
    align-items: center;
}

.list_items{
    padding: 0 20px;
    line-height: 10px;
    white-space: nowrap;
}

.logo_dropbox{
    padding-left: 0;
}

.button{
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
    width: fit-content;
    white-space: nowrap;
}

/**********HERO RULES *******/

.section_hero, .section_marketing{
    background-color: #B4D0E7;
}

.row{
    display: flex;
}

.col_hero_title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.col_hero_content{
    flex-basis: 30%;
}
/* USARE IL FLEX COLUMN */
.p_hero{
    margin-bottom: 40px;
    line-height: 30px;
}

.unsuscribe{
    line-height: 100px;
}

.fa-arrow-down{
    font-weight: 700;
    font-size: 50px;
}

.col_hero_image{
    flex-basis: 70%;
}

/********** FIRST STANDARD SECTION ********/

.col_first_section{
    font-weight: 700;
    font-size: 25px;
}

.col_radio{
    padding: 45px 45px 45px 0;
}

.row_business{
    flex-wrap: wrap;
}

.col_card{
    flex-basis: calc(100% / 3);
    border: 1px solid rgb(127, 135, 144);
    margin-left: 50px;
}

.first_card{
    margin-left: 0px;
}

.heading{
    border-bottom: 1px solid rgb(127, 135, 144);
    text-align: center;
    padding: 10px;
}

.packet_info, .card_list, .click_list, .packet_description{
    line-height: 30px;
    padding: 20px;
}

.price{
    font-weight: 700;
}

.monthly{
    color: lightslategray;
}

.button_click_list{
    display: block;
    line-height: 25px;
    font-size: 18px;
}

.buy, .info_business{
    text-decoration: underline;
    color: blue;
}

.button_3card{
    padding: 10px 60px;
}
.fa-check{
    color: blue;
}

/* .click_list::after{
    border-bottom: 1px solid rgb(127, 135, 144);
    padding-top: 50px;
} */

.row_card{
    justify-content: space-between;
}
.col_last_card{
    margin-top: 50px;
    flex-basis: 100%;
    border: 1px solid rgb(127, 135, 144);
}

.last_card_info{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.last_card_p2{
    padding-top: 50px;
}

/**********SECTION PARTNER RULES*******/

.row_partner{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.col_partner{
    line-height: 40px;
    padding: 30px;
}

.title_partner{
    font-size: 22px;
}

.p_partner{
    margin-bottom: 30px;
}

.button_partner, .button_marketing{
    color: black;
    background-color: white;
    border: 1px solid black;
}

.row_business{
    align-items: center;
}

.title_business, .title_marketing{
    font-size: 30px;
    padding-bottom: 40px;
}

.col_business{
    flex-basis: calc(100% / 3);
    padding: 20px 10px;
}

.col_info{
    padding-top: 60px;
    line-height: 40px;
}

/******** LOGO IMAGES RULES********/
.col_images{
    flex-basis: calc(100% / 6);
}

.bg_images{
    height: 200px;
}

.big_col{
    flex-grow: 1;
}

.big_logo{
    height: 400px;
    background-color: lightslategray;
}

.big_p{
    padding: 20px;

}
.images_style{
    filter: invert(100);
    width: 100px;
    margin-top: 80px;
    margin-left: 60px;
}

.big_style{
    width: 250px;
    margin-top: 40px;
    margin-left: 30px;
}

.designit_logo{
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}

.arizona_logo{
    background-color: #61082B;
}

.florida_logo{
    background-color: rgb(57, 144, 191);
}

.topps_logo{
    background-color: tomato;
}

.bicycle_logo{
    background-color: darkred;
}

.lonely_logo{
    background-color: blue;
}

.hearst_logo{
    background-color: #E1E5FB;
}

.clear_logo{
    background-color: yellow;
} 

/*****SECTION MARKETING RULES ********/
.title_marketing{
    color: #61082B;
}

.row_marketing{
    justify-content: space-between;
}

/******** SECTION FAQ *************/

.faq, .questions{
    padding: 30px 0;
}

.questions{
    border-top: 2px solid lightslategray;
}

.last_question{
    border-bottom: 2px solid lightslategray;

}

/******** FOOTER RULES **********/

.section_footer{
    margin-top: 70px;
    background-color: black;
}

.col_footer{
    color: white;
    flex-basis: calc(100% / 5);
    line-height: 30px;
}

.col_language{
    padding-top: 80px;
}

.language_choice{
    border-top: 2px solid white;
    padding-top: 20px;
}