@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

ol, ul, menu{
    list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

button,
input {
	border: none;
	background-color: transparent;
}

.container_all{
    max-width: 1366px;
    margin: 0 auto;
}

.container_large{
    max-width: 1260px;
    margin: 0 auto;
}

.container_standard{
    max-width: 1045px;
    margin: 0 auto;
}

section{
    padding-top: 90px;
}

/**** DEBUG RULES********/


/********** HEADER RULES********* */

.navbar{
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
}

.nav_list{
    display: flex;
    align-items: center;
}

.nav_list_items{
    padding: 0 20px;
    line-height: 10px;
}

.button{
    background-color: #0061FF;
    color: white;
    padding: 10px 20px;
}

/**********HERO RULES *******/

.section_hero{
    background-color: #B4D0E7;
}

.row{
    display: flex;
}

.col_hero_title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.col_hero_content{
    flex-basis: 40%;
    padding-right: 40px;
}

.p_hero{
    margin-bottom: 40px;
    line-height: 30px;
}

.unsuscribe{
    line-height: 100px;
}

.col_hero_image{
    flex-basis: 60%;
    padding-top: 10px;
}

/********** FIRST STANDARD SECTION ********/

.col_first_section{
    font-weight: 700;
    font-size: 25px;
}

.col_radio{
    padding: 45px 45px 45px 0;
}